<ion-header>
    <ion-toolbar>
        <ion-title>
            Notas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let nota of listaNotas">
            <ion-label>
                <h3>{{nota.data.titulo}}</h3>
                <p>{{nota.data.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogoCrearCaja()" style="z-index: 9;">
    <ion-icon name="add-circle"></ion-icon>
</button>